@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

.header {
    text-align: center;
    font-size: 50px;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    margin: 20px;
    text-transform: uppercase;  /* Makes it more striking */
    letter-spacing: 2px; /* Enhances readability */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 500px;  /* Fixed size */
    height: 500px;
    border: solid;
    background-color: aliceblue;
    margin: 0 auto;
}


.buttons{
    display:flex;
    justify-content: center;
    margin-top: 20px;
    gap:15px;
}

.grid-square {
    width: calc(100% / 16);  /* Makes 16 equal squares per row */
    height: calc(100% / 16);
    border: 1px solid lightgray;
    box-sizing: border-box;  /* Ensures border doesn't affect size */
}